volumes/storage/flowprint-challenge/data/v2_train_data.csv filter=lfs diff=lfs merge=lfs -text
volumes/storage/flowprint-challenge/data/*.csv filter=lfs diff=lfs merge=lfs -text
volumes/storage/flowprint-challenge/data/*.parquet filter=lfs diff=lfs merge=lfs -text
